venv
.gitignore
.idea
__pycache__
.DS_Store
images_after_processing
images_for_gif
map.html
/images_after_processing/
data/label
data
archieved
SentinelHubClient/secrets.yaml
model
results
.ipynb_checkpoints
plt
plt_proj3_img
plt_proj3_test
visulaization_proj3
dataset_inspection
data_train_proj3/
data_train_proj2/
data_train_proj5/
data_result_project3
evaluate
img_train_proj5/
data_val_proj5
data_test_proj5